@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background-color: aquamarine;
}

main {
    max-width: 1024px;
    margin: 0 auto;
    background-color: beige;

}

.btn-cart {
    height: 30px;
    width: 150px;
    background-color: teal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: black;
    margin: 50px;
}

.products {
    display: flex;
    justify-content: space-between;
    padding: 30px;

}

.product-item {
    padding: 20px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    background-color: #fff;
}

.product-item_image {
    height: 100px;
    width: 150px;
    overflow: hidden;
}